
<!DOCTYPE html>
<html lang="en">
<head><script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog
    </title>
    <link rel="icon" href="medium.ico"
          type="image/x-icon">
          <link rel="stylesheet" href="./styles1.css">
    <link rel="stylesheet" href="./style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    .card{
        background-color: #CB1C8D;
        opacity: 0.8;
        color:white;
    }
    .card-text{
        opacity: 1;
        color: white;
    }
   .btn{
    color:white;
   }
    @media(max-width:600px){
        .bar{
    display: flex;
 
  } 
    .grid-container{
        display: flex;
        flex-direction: column;
        position: relative;
        left:100px;
    }
    
    }
       html{
            background-color: rgb(244, 30, 244);
            
        }
           
     
        header {
            background-color: #e01616dd;
            color:violet;
            text-align: center;
            padding: 10px;
        }
        

     
        main {
            max-width: 100%;

            padding: 5px;
            background-color: #ebf0eb;
            background-image: url("./270280.jpg");
            border-radius:0px 0px 20px 20px;
            box-shadow: 0 0 10px rgba(220, 15, 15, 0.1);
        }
        .fontcolor {
            
            color:rgb(251, 6, 206);
            }
        .fontcolor1{
            color:purple;
            font-size: xx-large;
        }
        .headertitle{
            font-size: larger;
            color:#1b09e2;
        }
        .fontsize{
            color:purple;
            font-size:xx-large
            
        }
        .fontsize2{
            color:rgb(77, 24, 202);
            font-size: large;
        }
        .headercolor{
            color:#1b09e2;
        }

        h1 {
            color: #1b09e2;
        }

        p {
            color: hsl(288, 88%, 47%);
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #b13131de;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
     #new{
        color:rgb(44, 40, 40);
     }
     .t{
        display: flex;
     }
     .new-container{
        display: flex;
        flex-direction: column;
     }
     .box{
        display: flex;
        flex-direction: column;
     }
     .column{
        display: flex;
        gap:100px;
        flex-wrap: wrap;
        font-size: medium;
     }
     .nav{
        display: flex;
        flex-wrap: wrap;
     }
     .box{
        cursor: grab;
     }
     .new-one{
        cursor: grab;
     }
     .new-two{
        cursor: grab;
     }
     .new-three{
        cursor: grab;
     }
     .new-Four{
        cursor:grab;
     }
     .new-container{
        display: none;
     }
     .new-containers{
        display: none;
     }
     .new-containera{
        display: none;
     }
     .new-containerb{
        display: none;
     }
     .new-containerc{
        display: none;
     }
     .navs{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap:30px;
    }
    </style>
</style>
</head>
<body>
    <div class="entire">
        <div class="logo">
                <div class="image">
                    <img src="./7e114a1832ad3af1244833da497fe507.ico" width="50px" height="50px">
                    <p style="padding-left:30px;padding-top: 10px;font-weight: 800;font-size: x-large; font-family: 'Times New Roman', Times, serif;">WALLSTREET</p>
                </div>
        </div>
        <div class="nav">
            <div class="box-one">
                    <p class="new-one" style="font-size: 22px;font-weight: 900;">Agency</p>
                    <div class="new-containers">
                        <div class="column">
                            <p>DevPost</p>

                        </div>
                        <div class="column">
                            <p>Godzilla</p>
 
                        </div>
                    </div>
               
        </div>
        <div class="box">
            <p class="new" style="font-size: 22px;font-weight: 900;">Expertise</p>
            <div class="new-container">
                <div class="column">
                    <p>WebDev</p>
                </div>
                <div class="column">
                    <p>Software Developer</p>
                </div>
            </div>
            </div>
<div class="box-two">
    <p class="new-two" style="font-size: 22px;font-weight: 900;">Sectors</p>
    <div class="new-containera">
        <div class="column">
            <p>IT</p>
        </div>
        <div class="column">
            <p>Gov Sector</p>
        </div>
    </div>
</div>
<div class="box-three">
    <p class="new-three" style="font-size: 22px;font-weight: 900;">Case studies</p>
    <div class="new-containerb">
        <div class="column">
            <p>Wars</p>
        </div>
        <div class="column">
            <p>Life</p>
        </div>
    </div>
</div>
<div class="box-Four">
    <p class="new-Four" style="font-size: 22px;font-weight: 900;">My Own Blog</p>
    <div class="new-containerc">
        <div class="column">
            <p>Developer 1</p>
        </div>
        <div class="column">
            <p>Developer 2</p>
        </div>

    </div>

</div>
</div>
        <div class="object">
            <div class="space">
            </div>
            <div class="space"></div>
            <div class="tell">
                <div class="t">
                <a href="./index.ejs"  style="color:white">Home</a>
                <p style="color:rgb(197, 109, 197);filter: contrast(2); ">/Content_input</p></div>
                <div class="space"></div>
                <div class="xcontainer">
                    <h1 id="new"  style="color:white">Page Editor</h1>
                </div>
            </div>
            <div class="space"></div>
            <div class="space">
            </div>
        </div>
    </div>
    <div class="main">
           
        <div class="container">
            <div class="flex-link">
                
                      
                    <li class="n"><a href="/" >All categories</a></li>
                    <li class ="n"id="borderremove"><a href="/digital">Digital Strategies</a></li>
                    <li class="n"id="colorchange" style="border:none"><a href="/main_content">Main Items</a></li>
                    <li class="n"><a href="/my_own_blog">Our Own Blog</a></li>
            </div>
            <div class="cards">
                <div class="grid-container" style="margin-top: 50px;">
                 <div class="one">
                     <div class="card" style="width: 18rem;">
                         <img src="./308406.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Blog 1</h5>
                           <p class="card-text">Any text quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-outline-light"  style="color:white">Go somewhere</a>
                         </div>
                       </div>
                 </div>
                 <div class="one">
                     <div class="card" style="width: 18rem;">
                         <img src="./308406.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Blog 2</h5>
                           <p class="card-text">Any example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-outline-light" style="color:white">Go somewhere</a>
                         </div>
                       </div>
                 </div>
                 <div class="one">
                     <div class="card" style="width: 18rem;">
                         <img src="./308406.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Blog 3</h5>
                           <p class="card-text">Any example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-outline-light"  style="color:white">Go somewhere</a>
                         </div>
                       </div>
                 </div>
                 <div class="one">
                     <div class="card" style="width: 18rem;">
                         <img src="./308406.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Blog 3</h5>
                           <p class="card-text">Any example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-outline-light"  style="color:white">Go somewhere</a>
                         </div>
                       </div>
                 </div>                 
                </div>
              
             </div>
        </div>
      </div>
      <div class="upper" style="margin-top: -280px;">
        <div class="fontsize">
        <h3 style="color: #CB1C8D; filter: brightness(2);">Dive into the captivating <br>digital universe !</h3></div>
        <div class="fontsize2">
        <p style="color: #CB1C8D; filter: brightness(1.5);">Discover the latest trends, our inspiring achievements and behind the scenes of our agency ! Sign up for the monthly newsletter of wallstreet to not miss anything and enjoy crispy’infos found on the web.</p></div>
        
        <section class="email-collection">
        <div class="email-box">
          <h2 style="color: #CB1C8D; filter: brightness(2);">Subscribe to Our Newsletter</h2>
          <p style="color: #CB1C8D; filter: brightness(1.2);">Stay updated with the latest blog posts and news.</p>
          <form id="subscribeForm">
              <input type="email" id="emailInput" placeholder="Your Email" required>
              <button type="submit" id="subscribeButton">Subscribe</button>
          </form>
        </div>
        
        
        </section>
        </div>
        <div class="navs" style="padding:10px">
            <li style="filter: brightness(2.5); color: #CB1C8D;"><a href="#">Home</a></li>
            <li style="filter: brightness(2.5); color: #CB1C8D;"><a href="#">About</a></li>
            <li style="filter: brightness(2.5); color: #CB1C8D;"><a href="#">Contact</a></li>
              <a href="#" class="icon" target="_blank" style="margin-top: -10px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram" height="48px" width="48px" style="border-radius: 48px;"> </a>
              <a href="#" class="icon" target="_blank" style="margin-top: -10px;"><img src="https://img.freepik.com/premium-vector/blue-social-media-logo_197792-1759.jpg" alt="Facebook" height="48px" width="48px" style="border-radius: 48px;"></a>
              <a href="#" class="icon" target="_blank" style="margin-top: -10px;"><img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_twitter-512.png"alt="Twitter" height="48px" width="48px" style="border-radius: 48px;"></a>
            </li>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="./index.js"></script>
</body>
</html>