html,body{
  overflow-x: hidden;
}
.logo{
  background-color: black;
  border:0;
  display: flex;
  justify-content: flex-start; 
}
.image{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.nav{
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
gap:50px;
font-size: large;
}
.box{
margin:0;
padding:0;
}

.margin-space{
  height:20px;
  width:100vh;
}
.flex-container{
  display: flex;
  gap:30px;
}
li{
  list-style: none;}
.bar{
  z-index:4;
  display: flex;
  font-size: 20px;
  height:100px;
  justify-content: space-around;
  align-items: center;
  width:100vh;
}
.write{
  height:200px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.flex-link{
  display: flex;
  justify-content: space-between;
  width:80vh;
  position: relative;
  top:7px;
}
.n{
  border:1px solid black;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 3px;
  color:white;
}
.n:hover{
  border:0.3px solid white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.container{
  position: relative;
  right:40px;
}
.cards{
  position: relative;
  gap:10px;
}
.one{
  width:18rem;
}
.row{
  display: flex;

}
.space{
  height:40px;
}
.grid-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:10px;
  padding-bottom: 20px;
}
.object{
  position:relative;
  left:70px;
}
a:link {
  color:#460C68;
  background-color: transparent;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

a:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.tell{
  display: flex;
  flex-direction: column;
  font-size: large;
  position: relative;
}
.xcontainer{
  position:absolute;
  top:60px;
}
.no-border{
  border:none;
}